<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{mainCssPath}}">
    <title>Connect to SQL server</title>
</head>

<body>
    <div class="container">
        <h1>Connect to SQL server</h1>
        <ul class="tab" id="tabs">
            <template>
                <li class="tab__item" onclick="setState({type:'mysql'})">
                    MySQL
                </li>
            </template>
        </ul>

        <blockquote class="panel" id="error" hidden>
            <p class="panel__text">
                Connection error! <span id="errorMessage"></span><br/>
                You have a problem? <a href="https://github.com/Bajdzis/vscode-database/issues/new" target="_blank">Add new issue!</a>
            </p>
        </blockquote>

        <template id="field-template">
            <div class="field field--{{type}}">
                <label class="field__label" for="{{name}}">
                    <b>{{title}}</b> {{info}}
                </label>
                <input class="field__input" id="{{name}}" type="{{type}}" value="{{value}}"/>
            </div>
        </template>

        <div id="fields" data-type="none"></div>

        <button class="button button--primary" onclick="tryConnect()">Connect</button>

    </div>

    <script>
        const vscode = acquireVsCodeApi();
        const initialType = 'mysql'
        const initialState = {
            type: initialType,
            dataForm: [],
            fieldValue: {}
        };
        let state = vscode.getState() || initialState;

        const setState = (newState) => {
            state = {
                ...state,
                ...newState,
                fieldValue: {
                    ...state.fieldValue,
                    ...newState.fieldValue,
                }
            };
            refreshView(state);
            vscode.setState(state);
        };

        const tryConnect = () => {
            const { fieldValue, type } = state;
            const error = document.getElementById('error');
            error.setAttribute('hidden', 'hidden');
            vscode.postMessage({
                type: 'CONNECT_TO_SQL_SERVER',
                payload: {
                    fieldValue,
                    type
                }
            });
        }

        const renderField = ({type, name, title, value, info}) => {
            const fieldTemplate = document.querySelector('#field-template');
            const html = fieldTemplate.innerHTML;
            const fragment = document.createElement('template');
            fragment.innerHTML = html
                .replace(/\{\{type\}\}/gi, type)
                .replace(/\{\{name\}\}/gi, name)
                .replace(/\{\{title\}\}/gi, title)
                .replace(/\{\{value\}\}/gi, value)
                .replace(/\{\{info\}\}/gi, info);

            return fragment.content;
        }

        const refreshView = state => {
            const tabs = document.querySelector('#tabs');
            while (tabs.firstChild) {
                tabs.firstChild.remove();
            }

            state.dataForm.forEach(sql => {
                // Create tabs
                const li = document.createElement('li');
                li.innerText = sql.name;
                li.addEventListener('click', () => {
                    setState({
                        type: sql.type,
                        fieldValue: sql.fields.reduce((obj, field) => ({...obj, [field.name]: field.defaultValue || '' }), {})
                    });
                });
                li.classList.add('tab__item');
                if (sql.type === state.type) {
                    li.classList.add('tab__item--active');
                }
                tabs.appendChild(li);

                //Create fields
                if (sql.type === state.type) {
                    const fields = document.querySelector('#fields');
          
                    const renderedType = fields.dataset.type;
                    if (renderedType !== sql.type) {
                        while (fields.firstChild) {
                            fields.firstChild.remove();
                        }
                        sql.fields.forEach(field => {
                            const fieldElement = renderField({
                                name: field.name,
                                type: field.type,
                                title: field.title,
                                info: field.info,
                                value: state.fieldValue[field.name]
                            });
                            fieldElement
                                .querySelector('input')
                                .addEventListener('input', ({target}) => {
                                    const value = target.type === 'checkbox' ? target.checked : target.value;
                                    setState({fieldValue: {[field.name]: value}});
                                })
                            fields.appendChild(fieldElement);
                        });
                        fields.dataset.type = sql.type;
                    }else{
                        const inputs = fields.querySelectorAll('input');
                        for (let i = 0; i < inputs.length; i++) {
                            const input = inputs[i];
                            const id = input.getAttribute('id');
                            if (input.value !== state.fieldValue[id]) {
                                input.value = state.fieldValue[id];
                            }
                        }
                    }
                }
            });
        }

        refreshView(state);

        window.addEventListener('message', ({data}) => { 
            if (data.type === 'CONNECTION_ERROR') {
                const error = document.getElementById('error');
                const errorMessage = document.getElementById('errorMessage');
                error.removeAttribute('hidden');
                errorMessage.innerText = data.payload.error.toString();
            }
            if (data.type === 'SHOW_FORM') {
                var currentType = data.payload.filter(sql => sql.type === initialType)[0];
                setState({
                    dataForm: data.payload,
                    fieldValue: currentType.fields.reduce((obj, field) => ({...obj, [field.name]: field.defaultValue || '' }), {})
                })
            }
        })
    </script>
</body>

</html>